/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.timer-btn {
  border-radius: 8px;
  border: 0;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.timer-btn:disabled {
  background: #cfcfcf;
  color: #989898;
  cursor: not-allowed;
}

.timer-btn:not(:disabled):hover {
  background: #6c8cff;
}

#datetime-picker {
  font-family: 'Montserrat', sans-serif;
  gap: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  max-height: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
}

#datetime-picker:hover {
  border: 1px solid #000;
}

#datetime-picker:focus-within {
  border: 1px solid #4e75ff;
  outline: none;
}

#datetime-picker:disabled {
  color: #808080;
  cursor: not-allowed;
}

.timer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
  margin-top: 32px;
}

.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

.field {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.delay {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.delay-input {
  font: inherit;
  margin-top: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  max-width: 344px;
  max-height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
}

.delay-input:hover {
  border: 1px solid #000;
}

.delay-input:focus-within {
  border: 1px solid #4e75ff;
  outline: none;
}

.choices {
  display: flex;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  min-height: 60px;
  padding: 0;
  justify-content: center;
  align-items: flex-end;
  gap: 48px;
  margin: 16px 0 0 0;
}

.choices:hover {
  border: 1px solid #000;
}

.choices:has(input:checked) {
  border: 1px solid #000;
}

.choices label {
  padding-top: 14px;
  padding-bottom: 8px;
}

.submit-btn {
  color: #fff;
  font: inherit;
  margin-top: 24px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  border: 0;
  background: #4e75ff;
}

.submit-btn:hover {
  background: #6c8cff;
}
